.btn-block {
  display: block;
  width: 100%;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.font-weight-bold {
  font-weight: bold;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
